@use "../forward" as *;

@mixin css {
  div,
  span,
  li,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  a,
  b,
  strong {
    font-family: YakuHanJP, "Manrope", "Kosugi", sans-serif;
    //color: #333;
    //line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.02em;
  }
  div,
  span,
  li,
  p,
  b,
  strong {
    //color: #333;
    line-height: 1.6;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #333;
    line-height: 1.2;
  }
  body.aft26 {
    .page-title {
      font-family: YakuHanJP, "M PLUS 1p", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 2rem;
      color: #014a96;
    }
  }
}
