<contents>
    <menu name="2019 年度 スローガン" pagenum="2" internalDepth="1" id="1"/>
    <menu name="コース案内" pagenum="4" internalDepth="1" id="2"/>
    <menu name="薬ゼミの取組み" pagenum="6" internalDepth="1" id="3"/>
    <menu name="薬ゼミの書籍一覧" pagenum="8" internalDepth="1" id="4"/>
    <menu name="教室案内" pagenum="10" internalDepth="1" id="5"/>
    <menu name="講師紹介" pagenum="12" internalDepth="1" id="6"/>
    <menu name="みんなの声" pagenum="18" internalDepth="1" id="7"/>
</contents>